@model PagedList.IPagedList<S01_PersonalBlog.ViewModels.PostIndexViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = ViewBag.PageId ="posts-index-page";
}

<h2>Index</h2>

<p>
    @Html.RouteLink("Create a New Post", "Post", new { Action = "Create" })
</p>
<div class="row" id="search-box">
    <div class="col col-md-9">
        @using (Html.BeginRouteForm("Default", new { Action = "Index", controller = "Posts" }, FormMethod.Get))
        {
            <div class="form-group">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-contol", placeholder = "Search for a post" })
                <input type="submit" value="Search" />
            </div>
            <div class="row">
                <div class="col col-md-9">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="tagsOnly" value="@(ViewBag.TagsOnly as string)" @(ViewBag.Checked)>  Search in tags only
                    </label>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="row"><div class="col col-md-12"><h3>Posts</h3></div></div>
@foreach (var post in Model)
{
    @Html.Partial("_PostPartial", post);
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter, tagsOnly = ViewBag.TagsOnly }))
