<!DOCTYPE html>
<html id="@ViewBag.PageId">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head",required:false)
</head>
<body class="@ViewBag.PageClass">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.RouteLink("Personal Blog", "Default", new { action = "Index", controller = "Home", area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.RouteLink("Home", "Default",new { action = "Index", controller = "Home" })</li>
                    <li>@Html.RouteLink("About", "Default", new { action = "About", controller = "Home" })</li>
                    <li>@Html.RouteLink("Contact", "Default", new { action = "Contact", controller = "Home" })</li> 
                    
                    <li>@Html.RouteLink("Bloggers", "Default", new { action = "Index", controller = "Bloggers" })</li>
                    <li>@Html.RouteLink("Posts", "Post", new { action = "Index", controller = "Posts" })</li>                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container page-body">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Personal Blogging Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/summernote")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/site")
</body>
</html>
