@model S01_PersonalBlog.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        <h4>Change your account settings</h4>
        <hr />
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @Html.ActionLink("Change your password", "ChangePassword")
                ]
            </dd>

            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>@Html.DisplayNameFor(model => model.NickName)</dt>
            <dd>
                @Html.DisplayFor(model => model.NickName)
            </dd>

            <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>@Html.DisplayNameFor(model => model.BloggerId)</dt>
            <dd>
                @Html.DisplayFor(model => model.BloggerId)
            </dd>
            <dt>@Html.DisplayNameFor(model => model.About)</dt>
            <dd>
                @Html.DisplayFor(model => model.About)
            </dd>
           
        </dl>
    </div>
    <div class="col-md-6">
        <dl>
            <dt>@Html.DisplayNameFor(model => model.ImagePath)</dt>
            <dd>
                <img @(string.IsNullOrEmpty(Model.ImagePath) ? "" : string.Format("src={0}", "/Content/Images/" + Model.ImagePath)) class="avatar img-rounded" />
            </dd>
        </dl>
    </div>

    <div class="col-md-12">
        <a href="@Url.RouteUrl("Default", new { action= "EditProfile", controller = "Manage"})"><span class="btn btn-default col-md-offset-1">Edit your profile info</span></a>
    </div>
</div>
